body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.EventSearch{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.EventsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;        
  width: 80%;           
  overflow-y: auto;
  padding: 2rem;
  gap: 2rem;
  margin: 0 auto;
  border: 4px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;

}

.allEvents {
  width: 100%;           
  padding: 1.5rem;      
  font-size: 1.2rem;    
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.Name {
   font-weight: bold;
   font-size: 1.5rem;
}

li {
  margin: 10px 0;
  min-height: 100px;
  list-style-type: none;
}

.EventSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.searchRow {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 45px;
}

.searchInput {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
}
.upcomingEventsWrapper {
  padding-top: 80px; 
}