body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.EventSearch{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.EventsContainer{
  display: flex; 
  flex-direction: column;
  align-items: center;

}

.Event1{
  height: 100px;
  width: 300px;
  background-color: blueviolet;
}
.Event2{
  height: 100px;
  width: 300px;
  background-color: rgb(233, 8, 143);
}
.Event3{
  height: 100px;
  width: 300px;
  background-color: rgb(17, 171, 232);
}
